.container {
    width: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10rem;
}

.Card {
    display: flex;
    width: 25vw;
    flex-direction: row;

}

.img{
    width: 25vw;
    height: 25vw;
}